<html>
  <head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <title><%= htmlWebpackPlugin.options.title %></title>
      <meta name="manifest" content="mainfest.json">

      <% if (htmlWebpackPlugin.options.includeExternals) { %>
      <!--Material Design Lite Stylesheet and Script-->
      <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.orange-deep_orange.min.css">
      <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
      <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
      <% } %>
  </head>
  <body>
    <header>
      <p class="title">
        Bitcoin Alerts
        <a href="https://bitcoin.com">
          <img src="https://i.imgur.com/NR4D7aS.png" class="bitcoin-logo" alt="Logo: Bitcoin">
        </a>
      </p>

      <!-- Custom Button Navigation Panel -->
      <div class="button-nav">
        <a href="./admin" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" rel="noopener">
          Visit Admin Page
        </a>
        <a href="https://dev.to/something" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" rel="noopener">
          Read the Blog post
        </a>
      </div> 
    </header>
    <div class="container">
      <div class="subscription-toggle">
        <div class="push-card mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--border">
            <div class="mdl-card__title-text">Push Notifications Subscription</div>
          </div>
          <div class="mdl-card__supporting-text">
            Push Notification Status: <span class="subscription-status">Disabled</span>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <div class="main-switch">
              <label for="sub-switch" class="mdl-switch mdl-js-switch mdl-js-ripple-effect is-disabled">
                <input type="checkbox" id="sub-switch" class="mdl-switch__input" disabled>
                <span class="mdl-switch__label">Push Subscription</span>
              </label>
            </div>
          </div>
        </div>
      </div>
      <div class="subscription-info" style="display:none;">
        <div class="push-card subscription-card mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--border">
            <div class="mdl-card__title-text">Subscription Information</div>
          </div>
          <div class="mdl-card__supporting-text mdl-card--border">
            <p>Push Subscription Server ID</p>
            <h3 class="code server-id"></h3>
          </div>
          <div class="mdl-card__supporting-text mdl-card--border">
            <p>Push Subscription related details, information you need to send Notifications to the user, this information is also sent to your server</p>
            <pre class="code info"></pre>
          </div>
          <div class="mdl-card__supporting-text mdl-card--border">
            <p>Response received from the App Server regarding PushSubscription</p>
            <pre class="code server-subscription"></pre>
          </div>
        </div>
      </div>
      <div class="not-supported">
        <div class="push-card mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--border">
            <div class="mdl-card__title-text">Demo is not supported on your browser :(</div>
          </div>
          <div class="mdl-card__supporting-text">
            <p>
              ServiceWorker and Push API both need to be supported in order for
              this demo to work properly. If unsupprted by your browser, please upgrade to
              the latest version of browser which supports these APIs.
              <a href="https://caniuse.com"><b>Can I Use</b></a> is a helpful site,
              to see which popular browsers and their versions support the above APIs.
            </p>
            <ul class="support-status">
              <li class="service-worker">ServiceWorker: <span class="value">Unknown</span></li>
              <li class="push-api">Push API: <span class="value">Unknown</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>